@import "tailwindcss";

@layer base {
  body {
    background-color: #f1f5f9;
    color: #1e293b;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

/* Scrollbar Custom */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}